<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publier une annonce de vente</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <section>
            <div class="container">
                <div class="header__main__wrapper">
                    <div class="ppc__logo__menu">
                        <div class="ppc__logo">
                            <a href="/"> <img src="/Asessts/Images/new-logo.svg" alt=""></a>
                        </div>
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <a href="">
                                        <li>Accueil</li>
                                    </a>
                                    <a href="">
                                        <li>Acheter</li>
                                    </a>
                                    <a href="">
                                        <li>Vendre</li>
                                    </a>
                                    <a href="">
                                        <li>À propos</li>
                                    </a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="ppc__header__btn">
                        <a href="#"><button class="header__btn">Publier une annonce</button></a>
                    </div>
                    <div class="ppc__header__mobile__btn">
                        <a href="#"><button class="header__mobile__btn">Se connecters</button></a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="list-form-8-background">
            <div class="list-form-8-inner__container">
                <h1>Publier une annonce de vente</h1>
                <div class="progress">
                    <p>08</p>
                    <span>/ 10</span>
                </div>
                <div class="list-form-8-form-section">
                    <h2>Vos photos</h2>
                    <p>Vous pouvez télécharger jusqu'à 12 photos. <br>
                        Pas d'inquiétude : vos photos peuvent être ajoutées ou modifiées plus tard gratuitement.</p>
                    <span class="photo-label">Photo de couverture</span>


                    <div class="photo-gallery">
                        <div class="photo">
                            <img src="/Asessts/Images/Front of a house.png" alt="Photo 1" class="upload-selected-image">
                            <img src="/Asessts/Images/upload_placeholder_delete_icon.svg" alt="" class="delete-icon">
                        </div>
                        <div class="photo">
                            <img src="/Asessts/Images/Front of a house.png" alt="Photo 2" class="upload-selected-image">
                            <img src="/Asessts/Images/upload_placeholder_delete_icon.svg" alt="" class="delete-icon">

                        </div>
                        <div class="photo">
                            <img src="/Asessts/Images/Front of a house.png" alt="Photo 3" class="upload-selected-image">
                            <img src="/Asessts/Images/upload_placeholder_delete_icon.svg" alt="" class="delete-icon">

                        </div>
                    </div>

                    <div class="placeholder__text">
                        <h3>Télécharger l'image</h3>
                    </div>
                    <div class="upload-box">
                        <img class="image-box" src="/Asessts/Images/upload_placeholder_icon.svg" alt="">
                        <p><a href="#">Télécharger un fichier</a> ou faites glisser et déposez</p>
                        <h5 class="upload-info">PNG, JPG, GIF jusqu'à 10 Mo</h5>
                    </div>
                </div>
                <div class="list-form-8-form-buttons">
                    <button type="button" class="back">Retour</button>
                    <button type="submit" class="next">Suivant</button>
                </div>
            </div>
        </section>
    </main>
    <section class="mobile__menu__section">
        <div class="mobile__menu__wrapper">
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/li_home.svg" alt="">
                    <p>Accueil</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/cart-icon.svg" alt="">
                    <p>Acheter</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/post-ad-icon.svg" alt="">
                    <p>Annonce</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/vendre-icon.svg" alt="">
                    <p>Vendre</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/info-icon.svg" alt="">
                    <p>À propos</p>
                </a>
            </div>

        </div>
    </section>
    <footer>
        <section>
            <div class="footer__container">

                <section class="main__footer__wrapper">
                    <div class="ppc__logo__social">
                        <a href="/"><img src="/Asessts/Images/new-logo.svg" alt="" class="footer__logo"></a>

                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/facebook.svg" alt="" class="social-icons">
                                <p class="social__text">Facebook</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/twitter (2).svg" alt="" class="social-icons">
                                <p class="social__text">Twitter</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/insta.svg" alt="" class=" social-icons">
                                <p class="social__text">Instagram</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/youtube (2).svg" alt="" class="social-icons">
                                <p class="social__text">Youtube</p>
                            </div>
                        </a>
                    </div>
                    <div class="ppc__pages">
                        <h2>Pages</h2>
                        <a href="#">
                            <li class="footer__pages">Prix immo</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Acheter</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Louer</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Vacances</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Mon espace</li>
                        </a>
                    </div>

                </section>

            </div>
        </section>
    </footer>
</body>

</html>