<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publier une annonce de vente</title>
    <link rel="stylesheet" href="listSeven.css" />
  </head>

  <body>
    <header>
      <section>
        <div class="container">
          <div class="header__main__wrapper">
            <div class="ppc__logo__menu">
              <div class="ppc__logo">
                <a href="/">
                  <img src="/Asessts/Images/new-logo.svg" alt=""
                /></a>
              </div>
              <div class="main-menu">
                <nav>
                  <ul>
                    <a href="">
                      <li>Accueil</li>
                    </a>
                    <a href="">
                      <li>Acheter</li>
                    </a>
                    <a href="">
                      <li>Vendre</li>
                    </a>
                    <a href="">
                      <li>À propos</li>
                    </a>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="ppc__header__btn">
              <a href="#"
                ><button class="header__btn">Publier une annonce</button></a
              >
            </div>
            <div class="ppc__header__mobile__btn">
              <a href="#"
                ><button class="header__mobile__btn">Se connecters</button></a
              >
            </div>
          </div>
        </div>
      </section>
    </header>
    <main>
      <section class="list-form-7-background">
        <div class="list-form-7-inner__container">
          <h2>Publier une annonce de vente</h2>
          <div class="progress">
            <p>07</p>
            <span>/ 10</span>
          </div>
          <div class="form-section">
            <h2>Vos diagnostics immobiliers</h2>
            <p>
              Dans le cadre d'une vente, vous devez fournir à l'acheteur des
              diagnostics immobiliers.
            </p>
            <label>
              <input type="radio" name="diagnostics" checked />
              Je souhaite recevoir des devis au meilleur tarif du réseau
              partenaire Papacasa
            </label>
            <label>
              <input type="radio" name="diagnostics" />
              J'ai déjà réalisé mes diagnostics, je n'ai pas besoin de devis
            </label>
            <label>
              <input type="radio" name="diagnostics" />
              Je ne souhaite pas m'en occuper maintenant
            </label>
          </div>
          <div class="list-form-7-form-buttons">
            <button type="button" class="back">Retour</button>
            <button type="submit" class="next">Suivant</button>
          </div>
        </div>
      </section>
    </main>
    <section class="mobile__menu__section">
      <div class="mobile__menu__wrapper">
        <div class="mobile__menu__item">
          <a href="">
            <img src="/Asessts/Images/mobile menu icons/li_home.svg" alt="" />
            <p>Accueil</p>
          </a>
        </div>
        <div class="mobile__menu__item">
          <a href="">
            <img src="/Asessts/Images/mobile menu icons/cart-icon.svg" alt="" />
            <p>Acheter</p>
          </a>
        </div>
        <div class="mobile__menu__item">
          <a href="">
            <img
              src="/Asessts/Images/mobile menu icons/post-ad-icon.svg"
              alt=""
            />
            <p>Annonce</p>
          </a>
        </div>
        <div class="mobile__menu__item">
          <a href="">
            <img
              src="/Asessts/Images/mobile menu icons/vendre-icon.svg"
              alt=""
            />
            <p>Vendre</p>
          </a>
        </div>
        <div class="mobile__menu__item">
          <a href="">
            <img src="/Asessts/Images/mobile menu icons/info-icon.svg" alt="" />
            <p>À propos</p>
          </a>
        </div>
      </div>
    </section>
    <footer>
      <section>
        <div class="footer__container">
          <section class="main__footer__wrapper">
            <div class="ppc__logo__social">
              <a href="/"
                ><img
                  src="/Asessts/Images/new-logo.svg"
                  alt=""
                  class="footer__logo"
              /></a>

              <a href="#">
                <div class="links">
                  <img
                    src="/Asessts/Images/footer-icons/facebook.svg"
                    alt=""
                    class="social-icons"
                  />
                  <p class="social__text">Facebook</p>
                </div>
              </a>
              <a href="#">
                <div class="links">
                  <img
                    src="/Asessts/Images/footer-icons/twitter (2).svg"
                    alt=""
                    class="social-icons"
                  />
                  <p class="social__text">Twitter</p>
                </div>
              </a>
              <a href="#">
                <div class="links">
                  <img
                    src="/Asessts/Images/footer-icons/insta.svg"
                    alt=""
                    class="social-icons"
                  />
                  <p class="social__text">Instagram</p>
                </div>
              </a>
              <a href="#">
                <div class="links">
                  <img
                    src="/Asessts/Images/footer-icons/youtube (2).svg"
                    alt=""
                    class="social-icons"
                  />
                  <p class="social__text">Youtube</p>
                </div>
              </a>
            </div>
            <div class="ppc__pages">
              <h2>Pages</h2>
              <a href="#">
                <li class="footer__pages">Prix immo</li>
              </a>
              <a href="#">
                <li class="footer__pages">Acheter</li>
              </a>
              <a href="#">
                <li class="footer__pages">Louer</li>
              </a>
              <a href="#">
                <li class="footer__pages">Vacances</li>
              </a>
              <a href="#">
                <li class="footer__pages">Mon espace</li>
              </a>
            </div>
          </section>
        </div>
      </section>
    </footer>
  </body>
</html>
