<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publier une annonce de vente - Caractéristiques</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <section>
            <div class="container">
                <div class="header__main__wrapper">
                    <div class="ppc__logo__menu">
                        <div class="ppc__logo">
                            <a href="/"> <img src="/Asessts/Images/new-logo.svg" alt=""></a>
                        </div>
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <a href="">
                                        <li>Accueil</li>
                                    </a>
                                    <a href="">
                                        <li>Acheter</li>
                                    </a>
                                    <a href="">
                                        <li>Vendre</li>
                                    </a>
                                    <a href="">
                                        <li>À propos</li>
                                    </a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="ppc__header__btn">
                        <a href="#"><button class="header__btn">Publier une annonce</button></a>
                    </div>
                    <div class="ppc__header__mobile__btn">
                        <a href="#"><button class="header__mobile__btn">Se connecters</button></a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <div class="list-form-4-background">
            <div class="list-form-4-inner__container">
                <h2>Publier une annonce de vente</h2>
                <div class="progress">
                    <p>04</p>
                    <span>/ 10</span>
                </div>
                <div class="list-form-4-form-container">
                    <h3>Caractéristiques</h3>
                    <div class="list-form-4-separator"></div>

                    <form>
                        <div class="checkbox-group">
                            <label><input type="checkbox" checked> Climatisation</label>
                            <label><input type="checkbox" checked> Alarme</label>
                            <label><input type="checkbox" checked> Armoires</label>

                            <label><input type="checkbox"> Balcon</label>
                            <label><input type="checkbox" checked> Ascenseur</label>
                            <label><input type="checkbox"> Cuisine équipée</label>

                            <label><input type="checkbox"> Meublé</label>
                            <label><input type="checkbox"> Double vitrage</label>
                            <label><input type="checkbox"> Chauffage collectif</label>

                            <label><input type="checkbox" checked> Vidéosurveillance</label>
                            <label><input type="checkbox"> Résidence fermée</label>
                            <label><input type="checkbox"> Garage</label>

                            <label><input type="checkbox" checked> Proche de la plage</label>
                            <label><input type="checkbox"> Proche du métro</label>
                            <label><input type="checkbox"> Finitions de luxe</label>

                            <label><input type="checkbox"> Penthouse</label>
                            <label><input type="checkbox"> Kitchenette</label>
                            <label><input type="checkbox"> Terrasse</label>

                            <label><input type="checkbox"> Bon ensoleillement</label>
                            <label><input type="checkbox"> Suite</label>
                            <label><input type="checkbox"> Cellier</label>

                            <label><input type="checkbox"> Piscine</label>
                            <label><input type="checkbox"> Débarras</label>
                            <label><input type="checkbox"> Jardin</label>
                        </div>


                    </form>
                </div>
                <div class="list-form-4-form-buttons">
                    <button type="button" class="back">Retour</button>
                    <button type="submit" class="next">Suivant</button>
                </div>
            </div>
        </div>
    </main>
    <section class="mobile__menu__section">
        <div class="mobile__menu__wrapper">
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/li_home.svg" alt="">
                    <p>Accueil</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/cart-icon.svg" alt="">
                    <p>Acheter</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/post-ad-icon.svg" alt="">
                    <p>Annonce</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/vendre-icon.svg" alt="">
                    <p>Vendre</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/info-icon.svg" alt="">
                    <p>À propos</p>
                </a>
            </div>

        </div>
    </section>
    <footer>
        <section>
            <div class="footer__container">

                <section class="main__footer__wrapper">
                    <div class="ppc__logo__social">
                        <a href="/"><img src="/Asessts/Images/new-logo.svg" alt="" class="footer__logo"></a>

                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/facebook.svg" alt="" class="social-icons">
                                <p class="social__text">Facebook</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/twitter (2).svg" alt="" class="social-icons">
                                <p class="social__text">Twitter</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/insta.svg" alt="" class=" social-icons">
                                <p class="social__text">Instagram</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/youtube (2).svg" alt="" class="social-icons">
                                <p class="social__text">Youtube</p>
                            </div>
                        </a>
                    </div>
                    <div class="ppc__pages">
                        <h2>Pages</h2>
                        <a href="#">
                            <li class="footer__pages">Prix immo</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Acheter</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Louer</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Vacances</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Mon espace</li>
                        </a>
                    </div>

                </section>

            </div>
        </section>
    </footer>

</body>

</html>