<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <section>
            <div class="container">
                <div class="header__main__wrapper">
                    <div class="ppc__logo__menu">
                        <div class="ppc__logo">
                            <a href="/"> <img src="/Asessts/Images/new-logo.svg" alt=""></a>
                        </div>
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <a href="">
                                        <li>Accueil</li>
                                    </a>
                                    <a href="">
                                        <li>Acheter</li>
                                    </a>
                                    <a href="">
                                        <li>Vendre</li>
                                    </a>
                                    <a href="">
                                        <li>À propos</li>
                                    </a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="ppc__header__btn">
                        <a href="#"><button class="header__btn">Publier une annonce</button></a>
                    </div>
                    <div class="ppc__header__mobile__btn">
                        <a href="#"><button class="header__mobile__btn">Se connecters</button></a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <div class="red-background-container"></div>
        <div class="background">
            <div class="login-container">
                <div class="login-inner-container">
                    <h2>Inscrivez-vous</h2>
                    <p>Bienvenue chez Papacasa</p>
                    <form>
                        <div class="sign-up__nom__premon__wrapper">
                            <div class="sign-up__nom">
                                <label for="text">Nom*</label>
                                <input type="text" required class="ppc__sign-up__names">
                            </div>
                            <div class="sign-up__prenom">
                                <label for="text">Prénom*</label>
                                <input type="text" required class="ppc__sign-up__names">
                            </div>

                        </div>
                        <label for="email">Courriel</label>
                        <input type="email" id="email" placeholder="you@example.com" required class="ppc__login__email">

                        <label for="number">Téléphone</label>
                        <input type="tel" id="number" placeholder="+1 (123) 456 - 7890" required
                            class="ppc__login__pwd">

                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" placeholder="********" required class="ppc__login__pwd">

                        <button type="submit" class="sign-up-button">S'inscrire</button>
                    </form>
                    <p class="register-link">Nouvel utilisateur ? <a href="#">Créer un compte</a></p>

                    <div class="separator">
                        <p>OU</p>
                    </div>

                    <div class="social-login">
                        <button class="facebook"><img src="/Asessts/Images/facebook-colored-logo.svg" alt="">Continuer
                            avec Facebook</button>
                        <button class="google"><img src="/Asessts/Images/google-colored-icon.svg" alt="">Continuer avec
                            Google</button>
                        <button class="twitter"><img src="/Asessts/Images/twitter-colored-icon.svg" alt="">Continuer
                            avec Twitter</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="mobile__menu__section">
        <div class="mobile__menu__wrapper">
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/li_home.svg" alt="">
                    <p>Accueil</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/cart-icon.svg" alt="">
                    <p>Acheter</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/post-ad-icon.svg" alt="">
                    <p>Annonce</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/vendre-icon.svg" alt="">
                    <p>Vendre</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/info-icon.svg" alt="">
                    <p>À propos</p>
                </a>
            </div>

        </div>
    </section>
    <footer>
        <section>
            <div class="footer__container">

                <section class="main__footer__wrapper">
                    <div class="ppc__logo__social">
                        <a href="/"><img src="/Asessts/Images/new-logo.svg" alt="" class="footer__logo"></a>

                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/facebook.svg" alt="" class="social-icons">
                                <p class="social__text">Facebook</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/twitter (2).svg" alt="" class="social-icons">
                                <p class="social__text">Twitter</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/insta.svg" alt="" class=" social-icons">
                                <p class="social__text">Instagram</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/youtube (2).svg" alt="" class="social-icons">
                                <p class="social__text">Youtube</p>
                            </div>
                        </a>
                    </div>
                    <div class="ppc__pages">
                        <h2>Pages</h2>
                        <a href="#">
                            <li class="footer__pages">Prix immo</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Acheter</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Louer</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Vacances</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Mon espace</li>
                        </a>
                    </div>

                </section>

            </div>
        </section>
    </footer>


</body>

</html>