@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

/* .messages-background {

    padding: 40px 0 137px 0;
    width: 100%;
    margin: 0 auto;
    background-image: url(/Asessts/Images/hero_background_image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
} */
.change-password-section {
    padding: 40px 0;
    background-image: url("./Asessts/Images/hero_background_image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.password-container {
    max-width: 1280px;
    margin: 0 auto;
}

.change-password-form {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F9FAFB;
    padding: 32px;
    border: 1px solid #E5E7EB;
    border-radius: 24px;
}

.mobile__menu__section {
    display: none;
}

.header__main__wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    padding: 24px 0;
}

.ppc__logo__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 60%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6B7280;
    padding: 8px 20px;
}

nav ul li:hover {
    color: #374151;
    background-color: #F3F4F6;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.2s;
}

nav ul li:active {
    color: #374151;
    background-color: #F3F4F6;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.2s;
}

a {
    text-decoration: none;
}

.ppc__logo {
    width: 100%;
    max-width: 150px;
    margin-right: 56px;
}

.ppc__header__btn {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 12px;
}

.header__btn {
    padding: 13px 25px;
    background-color: #F03836;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

.header__mobile__btn {
    display: none;
}

.footer__container {
    max-width: 1358px;
    margin: 0 auto;

}

.footer__section {
    border-top: 1px solid #E5E7EB;

}

.main__footer__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 30px;
}

.footer__logo {
    margin-bottom: 4px;
    width: 100%;
    max-width: 162px;
}

.ppc__logo__social {
    width: 100%;
    max-width: 50%;
}

.ppc__pages {
    width: 100%;
    max-width: 50%;
}

.links {

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
}

.social-icons {
    width: 100%;
    max-width: 24px;
    height: 100%;
}

.social__text {

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #374151;
}

.ppc__pages h2 {

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #1F2937;
    margin-bottom: 20px;
}

.footer__pages {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4B5563;
    margin-bottom: 16px;
}


.password-container h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    color: #1F2937;
    margin-bottom: 54px;
}



.change-password-form-group {
    margin-bottom: 15px;
}

.change-password-form-group label {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 4px;
    color: #374151;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.change-password-form-group input {
    width: 100%;
    max-height: 42px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #D1D5DB;
    border-radius: 16px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

.change-password-form .submit-btn {
    background-color: #F03836;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 999px;
    min-width: 137px;
    padding: 13px 25px;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #e63e3e;
}

@media (max-width:767px) {
    .main-menu {
        display: none;
    }

    .mobile__menu__section {
        display: block;
    }

    .ppc__logo__menu {
        max-width: 50%;
    }

    .ppc__logo {
        max-width: 100%;
        margin: 0;
    }

    .ppc__logo img {
        max-width: 86px;
    }

    .ppc__header__btn {
        /* display: none; */
    }

    .ppc__header__mobile__btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 50%;
    }

    .header__mobile__btn {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        padding: 9px 17px;
        background-color: #F03836;
        color: #fff;
        border-radius: 999px;
        border: none;
        cursor: pointer;
    }

    .header__main__wrapper {
        padding: 17px 24px;
    }

    footer {
        display: none;
    }

    .main__footer__wrapper {
        padding: 24px;
    }

    .footer__logo {
        max-width: 90px;
    }

    .mobile__menu__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: center;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        padding: 12px;
        box-shadow: 0px -7px 80px 0px #0000001A;
    }

    .mobile__menu__item img {
        max-width: 20px;
        margin-bottom: 9px;
    }

    .mobile__menu__item p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #484C52;
    }

    .mobile__menu__item a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .change-password-form {
        padding: 24px;
    }

    .change-password-section {
        padding: 24px;
        margin-bottom: 150px;
        background-position: 100% -33%;

    }

    .password-container h1 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 9px;
    }

    .change-password-form .submit-btn {
        font-size: 14px;
        line-height: 20px;
        padding: 9px 25px;
    }
}