@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


.list-form-3-background {

    background-color: #F9FAFB;
    padding: 40px 0 137px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.list-form-3-inner__container {
    max-width: 785px;
    margin: 0 auto;
}

.mobile__menu__section {
    display: none;
}

.header__main__wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    padding: 24px 0;
}

.ppc__logo__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 60%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6B7280;
    padding: 8px 20px;
}

nav ul li:hover {
    color: #374151;
    background-color: #F3F4F6;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.2s;
}

nav ul li:active {
    color: #374151;
    background-color: #F3F4F6;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.2s;
}

a {
    text-decoration: none;
}

.ppc__logo {
    width: 100%;
    max-width: 150px;
    margin-right: 56px;
}

.ppc__header__btn {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__btn {
    padding: 13px 25px;
    background-color: #F03836;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

.header__mobile__btn {
    display: none;
}

.footer__container {
    max-width: 1358px;
    margin: 0 auto;

}

.main__footer__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 30px;
    border-top: 1px solid #E5E7EB;
}

.footer__logo {
    margin-bottom: 4px;
    width: 100%;
    max-width: 162px;
}

.ppc__logo__social {
    width: 100%;
    max-width: 50%;
}

.ppc__pages {
    width: 100%;
    max-width: 50%;
}

.links {

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
}

.social-icons {
    width: 100%;
    max-width: 24px;
    height: 100%;
}

.social__text {

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #374151;
}

.ppc__pages h2 {

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #1F2937;
    margin-bottom: 20px;
}

.footer__pages {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4B5563;
    margin-bottom: 16px;
}

.list-form-3-separator {
    border-top: 1px solid #E5E7EB;
    width: 100%;
    max-width: 56px;
    margin-bottom: 32px;

}

.list-form-3-inner__container h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: #1F2937;
    margin-bottom: 40px;
}



.list-form-3-form-container {
    background: #fff;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    text-align: left;
}

.list-form-3-form-container h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #111827;
    margin-bottom: 32px;
}

.progress {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin-bottom: 24px;

}

.progress p {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: #1F2937;
}

.progress span {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #374151;
}

.list-form-3-form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    gap: 20px;
}

.list-form-3-form-inner label {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #374151;
    margin-bottom: 4px;
}

.list-form-3-form-group input,
.list-form-3-form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #D1D5DB;
    border-radius: 16px;
    max-height: 42px;
    font-size: 1rem;
}


.list-form-3-form-inner {
    width: 100%;
}

.list-form-3-form-group-range {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.list-form-3-form-group-range label {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #374151;
    margin-bottom: 4px;
}

.list-form-3-form-group-range-inner {

    display: flex;
    max-width: 50%;

}

.counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.counter button {
    background: none;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    font-size: 1.2rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.counter span {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: #374151;
}

.list-form-3-form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back,
.next {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.back {
    background-color: #fff;
    color: #374151;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 999px;
    min-width: 103px;
    border: 1px solid #E5E7EB;


}

.next {
    background-color: #F03836;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 999px;
    min-width: 180px;
}

.next:hover {
    background-color: #e63939;
}

@media (max-width:767px) {
    .main-menu {
        display: none;
    }

    .mobile__menu__section {
        display: block;
    }

    .ppc__logo__menu {
        max-width: 50%;
    }

    .ppc__logo {
        max-width: 100%;
        margin: 0;
    }

    .ppc__logo img {
        max-width: 86px;
    }

    .ppc__header__btn {
        display: none;
    }

    .ppc__header__mobile__btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 50%;
    }

    .header__mobile__btn {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        padding: 9px 17px;
        background-color: #F03836;
        color: #fff;
        border-radius: 999px;
        border: none;
        cursor: pointer;
    }

    .header__main__wrapper {
        padding: 17px 24px;
    }

    footer {
        display: none;
    }

    .main__footer__wrapper {
        padding: 24px;
    }

    .footer__logo {
        max-width: 90px;
    }

    .mobile__menu__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: center;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        padding: 12px;
        box-shadow: 0px -7px 80px 0px #0000001A;
    }

    .mobile__menu__item img {
        max-width: 20px;
        margin-bottom: 9px;
    }

    .mobile__menu__item p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #484C52;
    }

    .mobile__menu__item a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-form-3-background {
        padding: 24px;
    }

    .list-form-3-form-container {
        padding: 24px;
    }

    .list-form-3-form-group {
        flex-direction: column;
    }

    .list-form-3-form-group-range-inner {
        max-width: 100%;
    }

    .list-form-3-form-buttons {
        flex-direction: column-reverse;
        margin-bottom: 100px;
        gap: 16px;
    }

    .list-form-3-inner__container h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    .list-form-3-form-container h3 {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 16px;
    }

    .list-form-3-separator {
        margin-bottom: 16px;
    }

    .list-form-3-form-inner label {
        font-size: 12px;
        line-height: 18px;
    }

    .list-form-3-form-group-range label {
        font-size: 12px;
        line-height: 20px;
    }

    .counter span {
        font-size: 14px;
        line-height: 16px;
    }

    .next {
        font-size: 14px;
        line-height: 20px;
    }

    .back {
        font-size: 14px;
        line-height: 20px;
    }

    .progress {
        align-items: center;
    }

    .progress p {
        font-size: 16px;
        line-height: 24px;
    }

    .progress span {
        font-size: 16px;
        line-height: 24px;
    }

}