<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <section>
            <div class="container">
                <div class="header__main__wrapper">
                    <div class="ppc__logo__menu">
                        <div class="ppc__logo">
                            <a href="/"> <img src="/Asessts/Images/new-logo.svg" alt=""></a>
                        </div>
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <a href="">
                                        <li>Announces</li>
                                    </a>
                                    <a href="">
                                        <li>Messages</li>
                                    </a>
                                    <a href="">
                                        <li>Profil</li>
                                    </a>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="ppc__header__btn">
                        <a href="">
                            <img src="/Asessts/Images/bell-icon.png" alt="">
                        </a>
                        <a href="">
                            <img src="/Asessts/Images/user-image-icon.svg" alt="">
                        </a>
                        <!-- <a href="#"><button class="header__btn">Publier une annonce</button></a> -->
                    </div>
                    <!-- <div class="ppc__header__mobile__btn">
                        <a href="#"><button class="header__mobile__btn">Se connecters</button></a>
                    </div> -->
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="messages-background">
            <div class="messages__header">
                <h1>Messages</h1>
            </div>
            <div class="chat-container">


                <!-- Main Chat Body -->
                <div class="chat-body">
                    <!-- Contact List -->
                    <aside class="contact-list">
                        <div class="contact ">
                            <div class="avatar">T</div>
                            <div class="details">
                                <p class="name">Tee</p>
                                <p class="preview">Salut 👋</p>
                            </div>
                            <span class="time">15 Minutes</span>
                        </div>
                        <div class="contact active">
                            <div class="avatar yellow">J</div>
                            <div class="details">
                                <p class="name">Jeena Ray</p>
                                <p class="preview">Salut</p>
                            </div>
                            <span class="time">12:36 PM</span>
                        </div>
                        <div class="contact">
                            <div class="avatar green">L</div>
                            <div class="details">
                                <p class="name">Lancer Wyatt</p>
                                <p class="preview">Pourquoi...</p>
                            </div>
                            <span class="time">12:35 PM</span>
                        </div>
                        <div class="contact">
                            <div class="avatar yellow">N</div>
                            <div class="details">
                                <p class="name">Norman Dis...</p>
                                <p class="preview">Pourquoi...</p>
                            </div>
                            <span class="time">12:34 PM</span>
                        </div>
                        <div class="contact">
                            <div class="avatar">w</div>
                            <div class="details">
                                <p class="name">Warren Isro</p>
                                <p class="preview">Pourquoi...</p>
                            </div>
                            <span class="time">12:33 PM</span>
                        </div>
                        <div class="contact">
                            <div class="avatar green">D</div>
                            <div class="details">
                                <p class="name">David Copper</p>
                                <p class="preview">Pourquoi...</p>
                            </div>
                            <span class="time">12:32 PM</span>
                        </div>
                        <div class="contact">
                            <div class="avatar yellow">A</div>
                            <div class="details">
                                <p class="name">Amber Hailey</p>
                                <p class="preview">Pourquoi...</p>
                            </div>
                            <span class="time">12:31 PM</span>
                        </div>
                        <div class="contact">
                            <div class="avatar ">S</div>
                            <div class="details">
                                <p class="name">Sara Jones</p>
                                <p class="preview">Pourquoi...</p>
                            </div>
                            <span class="time">12:30 PM</span>
                        </div>
                        <div class="contact">
                            <div class="avatar yellow">N</div>
                            <div class="details">
                                <p class="name">Norman Dis...</p>
                                <p class="preview">Pourquoi...</p>
                            </div>
                            <span class="time">12:29 PM</span>
                        </div>
                        <div class="contact">
                            <div class="avatar green">L</div>
                            <div class="details">
                                <p class="name">Lancer Wyatt</p>
                                <p class="preview">Pourquoi...</p>
                            </div>
                            <span class="time">12:36 PM</span>
                        </div>
                        <div class="contact">
                            <div class="avatar">N</div>
                            <div class="details">
                                <p class="name">Norman Dis...</p>
                                <p class="preview">Pourquoi...</p>
                            </div>
                            <span class="time">12:28 PM</span>
                        </div>
                        <!-- Add more contacts as needed -->
                    </aside>

                    <!-- Chat Window -->
                    <main class="chat-window">
                        <!-- Chat Header -->
                        <div class="chat-header">
                            <h2>Jeena Ray</h2>
                            <div class="options">
                                <p>.</p>
                                <p>.</p>
                                <p>.</p>
                            </div>
                        </div>

                        <!-- Chat Messages -->
                        <div class="messages">
                            <span class="timestamp">Jeudi, 4 janvier - 18:21</span>

                            <div class="message received">
                                <p>Bonjour?</p>
                            </div>
                            <div class="message received-2">
                                <img src="/Asessts/Images/message-received-avatar.svg" alt=""
                                    class="message-received-avatar">
                                <p>Besoin de plus de détails pour la maison</p>
                            </div>
                            <div class="message-sent-wrapper">
                                <div class="message sent">
                                    <p>Oui s’il vous plaît vous pouvez demander</p>
                                </div>
                                <div class="message sent-2">
                                    <p>Je répondrai à tout</p>
                                </div>
                            </div>
                        </div>

                        <!-- Chat Footer -->
                        <div class="chat-footer">
                            <input type="text" placeholder="Entrer le message..." />
                            <div class="chat-footer-icons">
                                <button class="icon-button"><img src="/Asessts/Images/emotions-icon.svg"
                                        alt=""></button>
                                <button class="icon-button"><img src="/Asessts/Images/upload-icon.svg" alt=""></button>
                            </div>
                            <button class="icon-button send"><img src="/Asessts/Images/send-icon.svg" alt=""></button>

                        </div>
                    </main>

                </div>
            </div>
        </section>
    </main>
    <section class="mobile__menu__section">
        <div class="mobile__menu__wrapper">
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/announce-icon.svg" alt="">
                    <p>Annouce</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/vendre-icon.svg" alt="">
                    <p>Vendre</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/post-ad-icon.svg" alt="">
                    <p>Annonce</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/messages-icon.svg" alt="">
                    <p>Messages</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/profile-icon.svg" alt="">
                    <p>Profil</p>
                </a>
            </div>

        </div>
    </section>
    <footer>
        <section>
            <div class="footer__container">

                <section class="main__footer__wrapper">
                    <div class="ppc__logo__social">
                        <a href="/"><img src="/Asessts/Images/new-logo.svg" alt="" class="footer__logo"></a>

                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/facebook.svg" alt="" class="social-icons">
                                <p class="social__text">Facebook</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/twitter (2).svg" alt="" class="social-icons">
                                <p class="social__text">Twitter</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/insta.svg" alt="" class=" social-icons">
                                <p class="social__text">Instagram</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/youtube (2).svg" alt="" class="social-icons">
                                <p class="social__text">Youtube</p>
                            </div>
                        </a>
                    </div>
                    <div class="ppc__pages">
                        <h2>Pages</h2>
                        <a href="#">
                            <li class="footer__pages">Prix immo</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Acheter</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Louer</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Vacances</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Mon espace</li>
                        </a>
                    </div>

                </section>

            </div>
        </section>
    </footer>
</body>

</html>