@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}



.list-form-10-background {

    background-color: #F9FAFB;
    padding: 40px 0 137px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.list-form-10-inner__container {
    max-width: 785px;
    margin: 0 auto;
}

.mobile__menu__section {
    display: none;
}

.header__main__wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    padding: 24px 0;
}

.ppc__logo__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 60%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6B7280;
    padding: 8px 20px;
}

nav ul li:hover {
    color: #374151;
    background-color: #F3F4F6;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.2s;
}

nav ul li:active {
    color: #374151;
    background-color: #F3F4F6;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.2s;
}

a {
    text-decoration: none;
}

.ppc__logo {
    width: 100%;
    max-width: 150px;
    margin-right: 56px;
}

.ppc__header__btn {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__btn {
    padding: 13px 25px;
    background-color: #F03836;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

.header__mobile__btn {
    display: none;
}

.footer__container {
    max-width: 1358px;
    margin: 0 auto;

}

.main__footer__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 30px;
    border-top: 1px solid #E5E7EB;
}

.footer__logo {
    margin-bottom: 4px;
    width: 100%;
    max-width: 162px;
}

.ppc__logo__social {
    width: 100%;
    max-width: 50%;
}

.ppc__pages {
    width: 100%;
    max-width: 50%;
}

.links {

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
}

.social-icons {
    width: 100%;
    max-width: 24px;
    height: 100%;
}

.social__text {

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #374151;
}

.ppc__pages h2 {

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #1F2937;
    margin-bottom: 20px;
}

.footer__pages {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4B5563;
    margin-bottom: 16px;
}

.list-form-10-inner__container h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: #1F2937;
    margin-bottom: 40px;
}

.progress {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin-bottom: 24px;

}

.progress p {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: #1F2937;
}

.progress span {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #374151;
}

.list-form-10-separator {
    border-top: 1px solid #E5E7EB;
    width: 100%;
    max-width: 56px;
    margin-bottom: 16px;
}

.card {
    background: #ffffff;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid #E5E7EB;
}

.card h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #111827;
    margin-bottom: 16px;
}

.instructions {
    padding: 0 0 0 20px;
    text-align: left;
    margin-bottom: 20px;
}

.instructions li {
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
    line-height: 20px;
    margin-bottom: 20px;
}

.list-form-10-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.list-form-10-button {
    background-color: #F03836;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 999px;
    min-width: 180px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.list-form-10-button:hover {
    background-color: #d32f3b;
}

@media (max-width:767px) {
    .main-menu {
        display: none;
    }

    .mobile__menu__section {
        display: block;
    }

    .ppc__logo__menu {
        max-width: 50%;
    }

    .ppc__logo {
        max-width: 100%;
        margin: 0;
    }

    .ppc__logo img {
        max-width: 86px;
    }

    .ppc__header__btn {
        display: none;
    }

    .ppc__header__mobile__btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 50%;
    }

    .header__mobile__btn {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        padding: 9px 17px;
        background-color: #F03836;
        color: #fff;
        border-radius: 999px;
        border: none;
        cursor: pointer;
    }

    .header__main__wrapper {
        padding: 17px 24px;
    }

    footer {
        display: none;
    }

    .main__footer__wrapper {
        padding: 24px;
    }

    .footer__logo {
        max-width: 90px;
    }

    .mobile__menu__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: center;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        padding: 12px;
        box-shadow: 0px -7px 80px 0px #0000001A;
    }

    .mobile__menu__item img {
        max-width: 20px;
        margin-bottom: 9px;
    }

    .mobile__menu__item p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #484C52;
    }

    .mobile__menu__item a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-form-10-background {
        padding: 24px;
    }

    .card {
        padding: 24px;
    }

    .list-form-10-inner__container h1 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    .card h2 {
        font-size: 14px;
        line-height: 21px;
    }

    .instructions li {
        font-size: 12px;
        line-height: 18px;
    }

    .progress {
        align-items: center;
    }

    .progress p {
        font-size: 16px;
        line-height: 24px;
    }

    .progress span {
        font-size: 16px;
        line-height: 24px;
    }

    .list-form-10-button-wrapper {
        margin-bottom: 100px;
    }

    .list-form-10-button {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }
}