<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My listing</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <section>
            <div class="container">
                <div class="header__main__wrapper">
                    <div class="ppc__logo__menu">
                        <div class="ppc__logo">
                            <a href="/"> <img src="/Asessts/Images/new-logo.svg" alt=""></a>
                        </div>
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <a href="">
                                        <li>Announces</li>
                                    </a>
                                    <a href="">
                                        <li>Messages</li>
                                    </a>
                                    <a href="">
                                        <li>Profil</li>
                                    </a>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="ppc__header__btn">
                        <a href="">
                            <img src="/Asessts/Images/bell-icon.png" alt="">
                        </a>
                        <a href="">
                            <img src="/Asessts/Images/user-image-icon.svg" alt="">
                        </a>
                        <!-- <a href="#"><button class="header__btn">Publier une annonce</button></a> -->
                    </div>
                    <!-- <div class="ppc__header__mobile__btn">
                        <a href="#"><button class="header__mobile__btn">Se connecters</button></a>
                    </div> -->
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="featured__full__width">
            <section class="featured__properties__section">
                <div class="container">
                    <div class="featured__heading__text__btn__wrapper">
                        <div class="featured__heading__text">
                            <h2>Ma liste</h2>
                        </div>
                        <div class="featured__btn">
                            <button>Mon Annonce</button>
                            <p>Préféré</p>
                        </div>
                    </div>

                    <div class="properties__grid">
                        <div class="properties">
                            <div style="background-image: url(/Assests/Images/Building\ front.png);"
                                class="properties__top__block">
                                <div class="price__block">
                                    <p>-10% aujourd'hui</p>
                                </div>
                                <div class="favorite__icon">
                                    <img src="/Assests/Images/heart_Icon.svg" alt="">
                                </div>
                            </div>
                            <div class="properties__bottom__block">
                                <p>3 lits</p>
                                <h4>Appartement Meublé</h4>
                                <div class="location">
                                    <img src="/Assests/Images/location_Icon.svg" alt="">
                                    <p>Paris, France</p>
                                </div>
                                <div class="divider"></div>
                                <h5>100 000 €</h5>
                            </div>

                        </div>
                        <div class="properties">
                            <div style="background-image: url(/Assests/Images/grid_2.png);"
                                class="properties__top__block">
                                <div class="price__block">
                                    <p>-10% aujourd'hui</p>
                                </div>
                                <div class="favorite__icon">
                                    <img src="/Assests/Images/heart_Icon.svg" alt="">
                                </div>
                            </div>
                            <div class="properties__bottom__block">
                                <p>3 lits</p>
                                <h4>Appartement Meublé</h4>
                                <div class="location">
                                    <img src="/Assests/Images/location_Icon.svg" alt="">
                                    <p>Paris, France</p>
                                </div>
                                <div class="divider"></div>
                                <h5>100 000 €</h5>
                            </div>

                        </div>
                        <div class="properties">
                            <div style="background-image: url(/Assests/Images/grid_3.png);"
                                class="properties__top__block">
                                <div class="price__block">
                                    <p>-10% aujourd'hui</p>
                                </div>
                                <div class="favorite__icon">
                                    <img src="/Assests/Images/heart_Icon.svg" alt="">
                                </div>
                            </div>
                            <div class="properties__bottom__block">
                                <p>3 lits</p>
                                <h4>Appartement Meublé</h4>
                                <div class="location">
                                    <img src="/Assests/Images/location_Icon.svg" alt="">
                                    <p>Paris, France</p>
                                </div>
                                <div class="divider"></div>
                                <h5>100 000 €</h5>
                            </div>

                        </div>
                        <div class="properties">
                            <div style="background-image: url(/Assests/Images/grid_4.png);"
                                class="properties__top__block">
                                <div class="price__block">
                                    <p>-10% aujourd'hui</p>
                                </div>
                                <div class="favorite__icon">
                                    <img src="/Assests/Images/heart_Icon.svg" alt="">
                                </div>
                            </div>
                            <div class="properties__bottom__block">
                                <p>3 lits</p>
                                <h4>Appartement Meublé</h4>
                                <div class="location">
                                    <img src="/Assests/Images/location_Icon.svg" alt="">
                                    <p>Paris, France</p>
                                </div>
                                <div class="divider"></div>
                                <h5>100 000 €</h5>
                            </div>

                        </div>
                        <div class="properties">
                            <div style="background-image: url(/Assests/Images/grid_5.png);"
                                class="properties__top__block">
                                <div class="price__block">
                                    <p>-10% aujourd'hui</p>
                                </div>
                                <div class="favorite__icon">
                                    <img src="/Assests/Images/heart_Icon.svg" alt="">
                                </div>
                            </div>
                            <div class="properties__bottom__block">
                                <p>3 lits</p>
                                <h4>Appartement Meublé</h4>
                                <div class="location">
                                    <img src="/Assests/Images/location_Icon.svg" alt="">
                                    <p>Paris, France</p>
                                </div>
                                <div class="divider"></div>
                                <h5>100 000 €</h5>
                            </div>

                        </div>
                        <div class="properties">
                            <div style="background-image: url(/Assests/Images/grid_6.png);"
                                class="properties__top__block">
                                <div class="price__block">
                                    <p>-10% aujourd'hui</p>
                                </div>
                                <div class="favorite__icon">
                                    <img src="/Assests/Images/heart_Icon.svg" alt="">
                                </div>
                            </div>
                            <div class="properties__bottom__block">
                                <p>3 lits</p>
                                <h4>Appartement Meublé</h4>
                                <div class="location">
                                    <img src="/Assests/Images/location_Icon.svg" alt="">
                                    <p>Paris, France</p>
                                </div>
                                <div class="divider"></div>
                                <h5>100 000 €</h5>
                            </div>

                        </div>
                        <div class="properties">
                            <div style="background-image: url(/Assests/Images/grid_7.png);"
                                class="properties__top__block">
                                <div class="price__block">
                                    <p>-10% aujourd'hui</p>
                                </div>
                                <div class="favorite__icon">
                                    <img src="/Assests/Images/heart_Icon.svg" alt="">
                                </div>
                            </div>
                            <div class="properties__bottom__block">
                                <p>3 lits</p>
                                <h4>Appartement Meublé</h4>
                                <div class="location">
                                    <img src="/Assests/Images/location_Icon.svg" alt="">
                                    <p>Paris, France</p>
                                </div>
                                <div class="divider"></div>
                                <h5>100 000 €</h5>
                            </div>

                        </div>
                        <div class="properties">
                            <div style="background-image: url(/Assests/Images/grid_8.png);"
                                class="properties__top__block">
                                <div class="price__block">
                                    <p>-10% aujourd'hui</p>
                                </div>
                                <div class="favorite__icon">
                                    <img src="/Assests/Images/heart_Icon.svg" alt="">
                                </div>
                            </div>
                            <div class="properties__bottom__block">
                                <p>3 lits</p>
                                <h4>Appartement Meublé</h4>
                                <div class="location">
                                    <img src="/Assests/Images/location_Icon.svg" alt="">
                                    <p>Paris, France</p>
                                </div>
                                <div class="divider"></div>
                                <h5>100 000 €</h5>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
        </section>
    </main>
    <section class="mobile__menu__section">
        <div class="mobile__menu__wrapper">
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/announce-icon.svg" alt="">
                    <p>Annouce</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/vendre-icon.svg" alt="">
                    <p>Vendre</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/post-ad-icon.svg" alt="">
                    <p>Annonce</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/messages-icon.svg" alt="">
                    <p>Messages</p>
                </a>
            </div>
            <div class="mobile__menu__item">
                <a href="">
                    <img src="/Asessts/Images/mobile menu icons/profile-icon.svg" alt="">
                    <p>Profil</p>
                </a>
            </div>

        </div>
    </section>
    <footer>
        <section class="footer__section">
            <div class="footer__container">

                <section class="main__footer__wrapper">
                    <div class="ppc__logo__social">
                        <a href="/"><img src="/Asessts/Images/new-logo.svg" alt="" class="footer__logo"></a>

                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/facebook.svg" alt="" class="social-icons">
                                <p class="social__text">Facebook</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/twitter (2).svg" alt="" class="social-icons">
                                <p class="social__text">Twitter</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/insta.svg" alt="" class=" social-icons">
                                <p class="social__text">Instagram</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="links">
                                <img src="/Asessts/Images/footer-icons/youtube (2).svg" alt="" class="social-icons">
                                <p class="social__text">Youtube</p>
                            </div>
                        </a>
                    </div>
                    <div class="ppc__pages">
                        <h2>Pages</h2>
                        <a href="#">
                            <li class="footer__pages">Prix immo</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Acheter</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Louer</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Vacances</li>
                        </a>
                        <a href="#">
                            <li class="footer__pages">Mon espace</li>
                        </a>
                    </div>

                </section>

            </div>
        </section>
    </footer>
</body>