@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #9CA3AF; */
    margin: 0 auto;
}

.mobile__menu__section {
    display: none;
}

.mobile__search__btn {
    display: none;
}

.header__mobile__btn {
    display: none;
}

.header__main__wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    padding: 24px 0;
}

.ppc__logo__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 60%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6B7280;
    padding: 8px 20px;
}

nav ul li:hover {
    color: #374151;
    background-color: #F3F4F6;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.2s;
}

nav ul li:active {
    color: #374151;
    background-color: #F3F4F6;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.2s;
}

a {
    text-decoration: none;
}

.ppc__logo {
    width: 100%;
    max-width: 150px;
    margin-right: 56px;
}

.ppc__header__btn {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__btn {
    padding: 13px 25px;
    background-color: #F03836;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}


.footer__container {
    max-width: 1358px;
    margin: 0 auto;

}

.newsletter__wrapper {
    background-color: #1F2937;
    padding: 65px 71px;
    border-radius: 24px;
    margin-bottom: 118px;
    margin-top: 164px;
}

.ppc__newsletter {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 55px;
}

.newsletter__heading__text {
    width: 100%;
    max-width: 67%;
}

.newsletter__heading__text h2 {

    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -2.5%;
    color: #fff;
    margin-bottom: 12px;
}

.newsletter__heading__text p {

    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #D1D5DB;
    max-width: 700px;
}

.newsletter__form__wrapper {
    width: 100%;
    max-width: 40%;
}

.newsletter__form input {
    border: none;
    padding: 13px 21px;
    border-radius: 24px;
    max-width: 303px;
    min-height: 50px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6B7280;
}

.newsletter__form input:focus {
    outline: none;
}

.newsletter__form button {
    padding: 13px 25px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #F03836;
    color: #fff;
    border: none;
    border-radius: 999px;
    margin-left: 12px;
    cursor: pointer;
}

.newsletter__form__text p {

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #D1D5DB;
    margin-top: 12px;
}

.main__footer__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 30px;
    border-top: 1px solid #E5E7EB;
}

.footer__logo {
    margin-bottom: 4px;
    width: 100%;
    max-width: 162px;
}

.ppc__logo__social {
    width: 100%;
    max-width: 50%;
}

.ppc__pages {
    width: 100%;
    max-width: 50%;
}

.links {

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
}

.social-icons {
    width: 100%;
    max-width: 24px;
    height: 100%;
}

.social__text {

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #374151;
}

.ppc__pages h2 {

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #1F2937;
    margin-bottom: 20px;
}

.footer__pages {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4B5563;
    margin-bottom: 16px;
}

.hero__banner {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 112px 0;
    background-image: url("../Assests/Images/hero_background_image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

.hero__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    column-gap: 86px;
}

.hero__left {
    width: 100%;
    max-width: 50%;
}

.hero__right {
    width: 50%;
    max-width: 50%;
}

.hero__heading {

    font-size: 72px;
    font-weight: 500;
    line-height: 80px;
    color: #111827;
    margin-bottom: 30px;
    max-width: 450px;
}

.hero__text {

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #6B7280;
    margin-bottom: 30px;
    max-width: 500px;
}

.proposez {
    text-decoration: underline;
    color: #6B7280;
}

.hero__btn {
    padding: 13px 25px;
    background-color: #F03836;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

.hero__image {
    width: 100%;
    max-width: 100%;
    min-height: 675px;
    object-fit: cover;
}

.search__bar {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    width: 85vw;
    max-width: 1380px;
    /* min-width: 1200px; */
    /* background: #864343; */
    padding: 20px;
    border-radius: 130px;
    background-color: #FFFFFFCC;
    box-shadow: 0px 10px 10px -5px #0000000A;
    box-shadow: 0px 20px 25px -5px #0000001A;
    backdrop-filter: blur(10px);
    margin-top: -140px;
    border: none;
}

.search__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background: #000; */
}

.search__types {
    padding: 0 23px;
    border-left: 1px solid #C9C9C9;
}

.search__types h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #111827;
    margin-bottom: 4px;
}

.search__types select {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #9CA3AF;
    border: none;
    cursor: pointer;
    appearance: none;
    background: transparent;
}

.search__types select:focus {
    outline: none;
}

.search__types-1 {
    padding: 0 43px;

}

.search__types-1 h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #111827;
    margin-bottom: 4px;
}

.search__types-1 select {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #9CA3AF;
    border: none;
    cursor: pointer;
    appearance: none;
    background: transparent;
}

.search__types-1 select:focus {
    outline: none;
}

.search__icon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    border-radius: 50px;
    padding: 5px;
    background-color: #F03836;
    max-width: 274px;
    height: 50px;
    /* padding: 15px; */
    

}

.services__section {
    padding: 100px 0;
}

.services__heading__text {
    text-align: center;
    margin-bottom: 56px;

}

.services__heading__text h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: #1F2937;
    margin-bottom: 20px;
}

.services__heading__text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6B7280;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.services img {
    max-width: 297px;
    min-height: 332px;
    object-fit: cover;
    border-radius: 16px;
}

.services h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: #111827;
    margin: 20px 0 10px 0;
}

.services p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6B7280;
    max-width: 295px;

}

.featured__properties__section {
    background-color: #F3F4F6;
    width: 100%;
    max-width: 1600px;
    padding: 88px 0 113px 0;
    margin: 64px auto;
    border-radius: 50px;
}

.featured__heading__text__btn__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin-bottom: 56px;
}

.featured__btn {
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 100%;
    justify-content: flex-end;
}

.featured__heading__text {
    max-width: 50%;
    width: 100%;
}

.featured__heading__text h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: #1F2937;
    margin-bottom: 16px;
}

.featured__heading__text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6B7280;
}

.featured__btn button {
    padding: 13px 25px;
    text-align: justify;
    background-color: #FFFFFF;
    min-width: 215px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #4B5563;
    border-radius: 66px;
    border: none;
    cursor: pointer;
}

.featured__btn img {
    max-width: 18px;
    max-height: 14px;
    margin-left: -40px;
    margin-top: 7px;
}

.properties__grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    column-gap: 10px;
    row-gap: 30px;
    /* background-color: #F03836; */
}

.search__list_home_page {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    /* width: 95vw;
    max-width: 1480px; */
    /* min-width: 1200px; */
    /* background: #864343; */
    /* padding: 20px;
    border-radius: 130px;
    background-color: #FFFFFFCC; */
    box-shadow: 0px 10px 10px -5px #0000000A;
    box-shadow: 0px 20px 25px -5px #0000001A;
    backdrop-filter: blur(10px);
    /* margin-top: 50px; */
    border: none;
}



.price__block {
    background-color: #B91C1C;
    padding: 2.5px 12px;
    max-height: 21px;
    border-radius: 30px;

}

.favorite__icon img {
    width: 15px;
}

.favorite__icon {
    display: flex;
    align-items: flex-start;
    width: 33px;
    height: 31px;
    border-radius: 30px;
    background-color: #00000059;
    padding: 9px;
}

.price__block p {
    color: #FEF2F2;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.properties__grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 18px;
    padding: 10px; */
    width: 100%;
    height: 100%;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-evenly; */
    display: flex;
  }
  
  .cards {
    width: 100%;
    height: 100%;
    max-width: 270px;
    min-height: 420px;
    background-color: #f3f3f3;
    border-radius: 14px;
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .properties__top__block {
    margin: 0;
    /* width: 100%; */
    /* background-size: cover;
    background-position: center; */
    /* border-radius: 24px 24px 0 0; */
    position: relative;
  }
  
  .favorite__icon {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
  }
  
  .properties__bottom__block {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    min-height: 247px;
  }
  
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .show-more {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
  }
  
  .location {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .divider {
    height: 1px;
    background: #eaeaea;
    margin: 8px 0;
  }
  

.why__papacasa__section {
    padding: 64px 0;
}

.why__ppc__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
}

.why__ppc__left {
    width: 100%;
    max-width: 42%;
}

.why__ppc__right {
    width: 100%;
    max-width: 58%;
}

.why__ppc__right img {
    width: 100%;
    max-width: 100%;
}

.why__ppc__left h6 {

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #9CA3AF;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.why__ppc__left h2 {

    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    color: #1F2937;
    margin-bottom: 64px;
}

.why__ppc__left h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #1F2937;
    margin-bottom: 20px;
}

.why__ppc__left p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6B7280;
    margin-bottom: 40px;
}

.why__ppc__left img {
    margin-bottom: 20px;
}

.why__ppc__btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.why__ppc__left__btn {
    padding: 13px 25px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #374151;
    border-radius: 30px;
    border: 1px solid #D1D5DB;
    cursor: pointer;
    margin-right: 20px;
}

.why__ppc__right__btn {
    padding: 13px 25px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #374151;
    border-radius: 30px;
    border: 1px solid #D1D5DB;
    cursor: pointer;
}

.testimonials__section {
    padding: 82px 0;
}

.testimonials {
    min-height: 673px;
    background-image: url("../Assests/Images/testimonial_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 106px 0 0 113px;
}

.testimonials__content {
    width: 100%;
    max-width: 621px;
}

.testimonials__content h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: #fff;
    margin-bottom: 16px;
}

.testimonials__content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #F3F4F6;
    margin-bottom: 16px;
}

.testimonials__content h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: #fff;
    margin-bottom: 6px;
}

.testimonials__btn {
    margin-top: 37px;
}

.left__arrow__btn {
    background-color: #fff;
    padding: 16px 21px 16px 22px;
    border-radius: 999px;
    margin-right: 17px;
}

.right__arrow__btn {
    background-color: #fff;
    padding: 16px 23px 15px 24px;
    border-radius: 999px;
}

.comas__image {
    position: absolute;
    right: 76px;
    top: -20px;
}

.comas__image img {
    opacity: 0.5;
}

.counters__section {
    margin: 82px 0 0 0;
    padding: 82px 0;
    background-color: #F03836;
}

.counters__container {
    width: 100%;
    max-width: 1218px;
    margin: 0 auto;
    text-align: center;
}

.counters__container h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    color: #fff;
    margin-bottom: 16px;
}

.counters__container h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

.counters__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
}

.counters h4 {
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    color: #fff;
    margin-bottom: 8px;
}

.counters p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;

}

.blogues {
    position: relative;
}

.blogues__section {
    padding: 130px 0;
    background-color: #E0E7FF33;
}

.blogues__heading__text {
    text-align: start;
    margin-bottom: 40px;

}

.blogues__heading__text h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: #1F2937;
    margin-bottom: 20px;
}

.blogues__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
}



.blogues img {
    max-width: 297px;
    min-height: 327px;
    object-fit: cover;
    border-radius: 16px;
}

.blogues h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #111827;
    margin: 20px 0 10px 0;
    max-width: 278px;
}

.blogues p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6B7280;
    max-width: 278px;

}

.blogues__badge {
    padding: 8px 16px;
    background-color: #DBEAFE;
    max-width: 98px;
    border-radius: 12px;
}

.blogues__badge p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #1E40AF;
}

.blogues__badge {
    position: absolute;
    top: 15px;
    left: 12px;
}

@media (max-width:767px) {
    .main-menu {
        display: none;
    }

    .divHide{
        display: none;
    }

    .mobile__menu__section {
        display: block;
    }

    .ppc__logo__menu {
        max-width: 50%;
    }

    .ppc__logo {
        max-width: 100%;
        margin: 0;
    }

    .ppc__logo img {
        max-width: 86px;
    }

    .ppc__header__btn {
        display: none;
    }

    .ppc__header__mobile__btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 50%;
    }

    .header__mobile__btn {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        padding: 9px 17px;
        background-color: #F03836;
        color: #fff;
        border-radius: 999px;
        border: none;
        cursor: pointer;
    }

    .header__main__wrapper {
        padding: 17px 24px;
    }

    footer {
        display: none;
    }

    .mobile__menu__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: center;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        padding: 12px;
        box-shadow: 0px -7px 80px 0px #0000001A;
    }

    .mobile__menu__item img {
        max-width: 20px;
        margin-bottom: 9px;
    }

    .mobile__menu__item p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #484C52;
    }

    .mobile__menu__item a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__banner {
        padding: 24px;
    }

    .hero__left {
        max-width: 100%;
    }

    .hero__right {
        display: none;
    }

    .hero__heading {
        font-size: 32px;
        line-height: 48px;
        color: #111827;
        margin-bottom: 16px;
        max-width: 342px;
    }

    .hero__text {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 16px;
        max-width: 342px;
    }

    .hero__btn {
        padding: 13px 25px;
        background-color: #F03836;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }

    .mobile__search__btn {
        display: block;
        margin-top: 23px;
    }

    .mbl__Srch__btn__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        padding: 14px 24px;
        box-shadow: 0px 20px 25px -4px #0000001A;
        backdrop-filter: blur(64px);
        border-radius: 130px;
    }

    .mbl_srch_icon {
        display: flex;
        background-color: #F03836;
        padding: 14px 13px 12px 13px;
        border-radius: 999px;
    }

    .mbl_srch_icon img {
        max-width: 18px;
        max-height: 18px;
    }

    .search__bar {
        display: none;
    }

    .services__section {
        padding: 24px;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .services__heading__text h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 8px;
    }

    .services__heading__text p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .services__heading__text {
        margin-bottom: 16px;
    }

    .services h3 {
        font-size: 14px;
        margin: 12px 0 10px 0;
    }

    .services p {
        font-size: 12px;
        max-width: 100%;
    }

    .services img {
        max-width: 100%;
        min-height: 182px;
        object-fit: cover;
        border-radius: 16px;
    }

    .why__papacasa__section {
        padding: 24px;
    }

    .why__ppc__left img {
        margin-bottom: 8px;
    }

    .why__ppc__left h3 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .why__ppc__left p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 24px;
    }

    .why__ppc__left h6 {
        font-size: 12px;
        line-height: 20px;
    }

    .why__ppc__left h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 26px;
    }

    .why__ppc__btn {
        flex-direction: column;
    }

    .why__ppc__left__btn {
        width: 100%;
        margin: 0 0 16px 0;
        font-size: 14px;
        line-height: 20px;
    }

    .why__ppc__right__btn {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .testimonials__section {
        padding: 24px;
    }

    .testimonials {
        padding: 41px 24px;
        min-height: 319px;
        border-radius: 30px;
    }

    .testimonials__content h3 {
        font-size: 14px;
        line-height: 21px;
    }

    .testimonials__content h4 {
        font-size: 14px;
        line-height: 21px;
    }

    .testimonials__content p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 16px;
    }

    .comas__image {
        right: 12px;
        top: -8px;
    }

    .comas__image img {
        max-width: 54px;
    }

    .right__arrow__btn {
        padding: 0px 10px 1px;
    }

    .right__arrow__btn img {
        max-width: 9px;
        max-height: 9px;
    }

    .left__arrow__btn {
        padding: 0px 8px 1px;
    }

    .left__arrow__btn img {
        max-width: 9px;
        max-height: 9px;
    }

    .blogues__section {
        padding: 24px 24px 100px 24px;
    }

    .blogues__heading__text h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 0;
    }

    .blogues__heading__text {
        margin-bottom: 16px;
    }

    .blogues h3 {
        font-size: 14px;
        line-height: 21px;
        margin: 8px 0;
        max-width: 100%;
    }

    .blogues__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

    }

    .blogues p {
        font-size: 12px;
        max-width: 100%;
    }

    .blogues img {
        max-width: 100%;
        min-height: 182px;
        max-height: 182px;
    }

    .why__ppc__left {
        max-width: 100%;
    }

    .why__ppc__right {
        display: none;
    }

    .counters__section {
        display: none;
    }


    .featured__full__width {
        padding: 0 24px;
    }

    .featured__properties__section {
        padding: 24px;
        margin: 0 auto;
        border-radius: 30px;
    }

    .featured__heading__text h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 8px;
    }

    .featured__heading__text p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 8px;
    }

    .properties__top__block {
        max-width: 100%;
    }

    .properties__bottom__block {
        max-width: 100%;
    }

    .properties__grid {
        grid-template-columns: 1fr;
        column-gap: 16px;
        row-gap: 16px;

    }

    .featured__heading__text__btn__wrapper {
        flex-direction: column;
        margin-bottom: 24px;
    }

    .featured__heading__text {
        max-width: 100%;
    }

    .featured__btn {
        max-width: 100%;
        justify-content: flex-start;
    }

    .featured__btn button {
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }

    .featured__btn img {
        max-width: 12px;
        max-height: 12px;
        margin-left: -80px;
        margin-top: 7px;
    }

    .bottom__block p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #6B7280;
        margin-bottom: 10px;
    }

    .bottom__block h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: #1F2937;
        margin-bottom: 10px;
    }

    .bottom__block h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #111827;
    }

    .location {
        display: flex;
        align-items: flex-start;
        gap: 13px;
    }

    .location img {
        max-width: 14px;
        margin-top: 2px;
    }

    .location p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #6B7280;
        margin-bottom: 10px;
    }
}